*{margin:0; padding:0; box-sizing:border-box;}
li{list-style:none;}
a{text-decoration:none; color:inherit;
display:block;}
body{font-size:13px; position:relative;
overflow-x:hidden;}
.box{
    height:80px;
    border-left:1px solid#000;
    margin:30px 0 20px;
}
/* header */

#event{
    width:100%;
    height:40px;
    background-color:pink;
    text-align:center;
    line-height:40px;
    color:#fff;
    font-size:15px;
    font-weight:700;
    
}
#event span{
    font-size:13px;
    margin-left:13px;
}
#event:hover{color:#706f6f;}


#header_wrppaer{
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    background-color:rgba(0,0,0,.1);
    position:fixed;
    z-index:5;
    
}

#gnb_menu, #sub_menu{padding-top:20px;}


#gnb_menu>ul{
    font-size:15px;
    display:flex;
    gap:10px;
    text-align:center;
   
}

#gnb_menu ul>li>a{
    width:100px;
    line-height:40px;
    padding:0 10px 0 10px;
}
#gnb_menu ul>li>a:hover{
     text-decoration:underline;
}

.gnb-sub-menu{
    width:100px;
    margin-top:20px;
    display:none;
    flex-direction:column;
    align-items:center;
    background-color:rgba(0,0,0,.3);
    
   
}
.gnb-sub-menu li{
    padding:3px;
    font-size:13px;
   
}


/* logo */
#logo img{
    width:320px;
    padding-top:10px;
   
   
}


#sub_menu ul{
    display:flex;
    line-height:45px;
}
#sub_menu li{
    
     margin-right:30px;
}
#sub_menu li:nth-child(1){
    font-weight:700;
    font-size:18px;
}

.close_btn{
    width:100vw;
    height:100vh;
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:20;
    background-color:rgba(255, 255, 255, 0.8);
  
    
}
.close_btn .button{
    border:none;
    right:28px;
    position:absolute;
    margin:40px 12px 0 0 ;
}

.close_btn ul{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:5rem;
    color:#a9a9a9;
    
    
}
.close_btn li{
    display:inline-block;
    margin:25px 0;
    padding:25px 0;
    
}
.close_btn li:hover{
    color:#000;
}
#search_sec{
    top:0;
   background-color:rgba(255, 255, 255, 0.8);
   width:100vw;
    height:100vh;
    display:none;
    position:absolute;
    z-index:100;

}

#search_sec .button{
    border:none;
    top:40px;
    right:45px;
    position:absolute;
}

#keyword_wrap{
    top:50%;
    left:50%;
    width:78%;
    padding:50px;
    margin:0 auto;
    z-index:30;
    
}
#keyword{
    padding:0 50px 0 0;
    width:100%;
    height:104px;
    line-height:104px;
    border:none;
    background:none;
    border-bottom:1px solid#000;
    outline:none;
    
}

/* section1 */

.mySwiper_main{
    width:100%;
    height:45vw;
    overflow: hidden;
}
swiper-slide img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    
}

.mySwiper_main .swiper-slide-active img {
    animation: test 2s;
}

@keyframes test {
    0% {
        width: 110%;
    }
    100% {
        width: 100%;
    }
}
/* section2 */


#sec_2_con1{
    text-align:center;
    margin-bottom:200px;
    color:#666;
}
#sec_2_con1 h2{
    font-size:50px;
    padding:100px 0 40px 0;
   
}
#sec_2_con1 span{font-size:30px;}


#sec_2_con2{
     margin:0 auto;
   
}
#sec_2_con2 ul{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);

  

   
}
.sec_2_img img{
    width:100%;
    height:100%;
    display:block;
    
}

.sec_2_account{
    width:900px;
    height:700px;
    padding-left:60px;
    padding-top:calc(40% - 200px);
}

#account_right{
    display:flex;
    flex-direction:column;
    align-items:end;
    padding-right:40px;
    
}
.sec_2_title{
    font-size:40px;
    margin-bottom:24px;
}

.sec_2_sub{
    font-size:20px;
    left:0;
    letter-spacing:2px;
    line-height:30px;
    color:#666
}


.read_btn{
    width:180px;
    
    border-radius:36px;
    border:1px solid#000;
    padding:11px 46px;
    text-align:center;
}


/* section3 */

#sec3_title{
    position: relative;
    top: -20px;
    opacity: 0;
    width:100%;
    text-align:center;
    margin-bottom:100px;
    transition: opacity 2s, top 2s;
}
#sec3_title h2{
    color:#373636;
    font-size:50px;
    padding:100px 0 20px 0;
   
}

#sec3_title span{font-size:20px;}


swiper-container{
    width:100vw;
    height:80vh;
    
}



swiper-slide img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    
}

.sec3_s{
    font-weight:600;
   
    color:#333;
    text-align:center;
    margin-top:20px;
   
 
}


.sec3_s p{
    margin-bottom:10px;
    font-size:25px;
}

.sec3_s>span{
    font-size:20px;
    font-weight:500;
}


/* section4 */

#youtub{width:100vw;}
#youtub_title{
    text-align:center;
    padding:80px 0;
    margin-bottom:30px;
    top:-20px;
    position:relative;
    opacity:0;
    transition: opacity 2s, top 2s;
}


#youtub_title h2{
    margin-bottom:30px;
    color:#333;
    font-size:50px;
}

#youtub_title span{
    font-size:20px;
}
.box_1{
    height:80px;
    border-left:1px solid#000;
    margin-left:50%;
    
}
#youtub_file{
    margin-top:30px;
    display:flex;
    justify-content:center;
}

/* section5 */
#instagram_address{
    width:100%;
    height:100vh;
    padding:80px 0;
    text-align:center;
    top:-20px;
    position:relative;
    opacity:0;
    transition:opacity 2s, top 2s;
}


#instagram h2{
    font-size:50px;
    margin-bottom:24px;
}
#instagram span{
    font-size:20px;
}

/* footer */

#footer{
    width:100%;
    background-color:#E8E4E3;
    padding:44px 20px;
}


#footer_logo img{
    width:320px;
    margin-bottom:25px;
}

#footer ul{
    width:100%;
    display:flex;
    gap:20px;
    font-size:14px;
    font-weight:bold;
    margin-bottom:30px;
    margin-left:20px;
    padding-top:20px;
    border-top:1px solid#000;
}

#footer p{
    margin-left:20px;
    margin-bottom:56px;
    line-height:20px;

}
#footer p>span{
    margin:5px;
}

#instagram_link img{
    width:20px;
    height:20px;
    margin-left:20px;
}

@media only screen and (max-width:1023px) {
   
    .sec_2_img img{
        width:100%;
        height:100%;
    }
    
    .sec_2_account{
        width:550px;
        height:400px;
        margin-top:20px;
    }

    
    swiper-container{
       
        width:1023px;
        height:100%;
       
    }
    swiper-slide img{
        display:block;
        width:100%;
        height:100%;
        object-fit:cover;
        
    }
}