*{margin:0; padding:0; box-sizing:border-box;}
li{list-style:none;}
a{text-decoration:none; color:inherit;
display:block;}
/* header */
body{background-color:blue;}
#event{
    width:100%;
    height:40px;
    background-color:pink;
    text-align:center;
    line-height:40px;
    color:#fff;
    font-weight:700;
    z-index:1;
}

#event:hover{color:#706f6f;}


#header_wrppaer{
    width:100%;
    height:100px;
    display:flex;
    flex-direction:row;
    background-color:rgba(0,0,0,.1);
    position:fixed;
    
}

#gnb_menu, #logo, #sub_menu{padding-top:50px;}

#gnb_menu ul{
    font-size:15px;
    display:flex;
    gap:10px;
    text-align:center;
    
}
#gnb_menu li:hover{
   
    text-decoration:underline;
}

#gnb_menu ul>li>a{
    line-height:40px;
    padding:0 20px 0 20px;
}

.gnb-sub-menu{
    width:130px;
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
  
    background-color:rgba(0,0,0,.3);
    
   
}
.gnb-sub-menu li{
    padding:3px;
    font-size:13px;

}

/* logo */
#logo{
    
    margin:0 auto;
}


#sub_menu ul{
    display:flex;
    line-height:45px;
}
#sub_menu li{
    
     margin-right:30px;
}
#sub_menu li:nth-child(1){
    font-weight:700;
    font-size:18px;
}

.close_btn{
    height:100vh;
    display:none;
    
    margin-top:0;
    position:relative;
    z-index:2;
  
    
}
.close_btn .button{margin-right:0;}

.close_btn ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.close_btn li{
   font-size:70px;
   padding:20px;
}

/* section1 */
#slide_wrapper{
    width:100vw;
    height:100vh;
    position:relative;
}
#slide li img{
    height:100vh;
    display:absolute;
}

#slide_btn{
    width:100%;
    padding:calc(50% - 50px);
    position:relative;
    
 }
#slide_btn ul{
    display:flex;
    justify-content:space-between;
    position:absolute;
}
#slide_btn li{
    width:20px;
    height:20px;
    border:1px solid#fff;
    border-radius:50%;
    margin-right:10px;
    
 
}
#slide_btn li:nth-child(7){
    margin-right:0;
}

/* section2 */

#sec_2_con1{
    text-align:center;
    margin-bottom:200px;
}
#sec_2_con1 h2{
    font-size:35px;
    color:#a5a4a4;
    padding:100px 0 40px 0;
   
}
#sec_2_con2{width:100vw;}
#sec_2_con2 ul{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
   
}
.sec_2_img img{
    width:600px;
    height:400px;
    display:block;
}

.sec_2_account{
    width:600px;
    height:400px;
    padding:50px 0 0 60px;
   
}
.sec_2_account:nth-child(2){
    padding:50px 0 0px 0;
}

.sec_2_title{
    font-size:30px;
    margin-bottom:24px;
}

.sec_2_sub{
    font-size:15px;
    left:0;
}
.read_btn{
    width:100px;
    height:30px;
    border-radius:15%;
    border:1px solid#000;
}

/* section3 */







